<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <% for(i=0;i<friends.length;i++) { %>
            <p><%= Number(i+1)+". "+friends[i] %></p>
    <% } %>
    <p><%- htmlContent %></p>
</body>
</html>